<!-- Header for Wiki-Map -->

<header>
  <div class="nav">
    <a href="/">Wiki-Map</a>

    <% if(1===1){ %>
      <a href="/maps">My Maps</a>
      <a href="/maps/favourites">Favourites</a>
      <a href="/maps/create">Create Maps</a>

      <% } else{ %>

        <a href="/login">Login</a>
        <a href="/register">Register</a>

        <% } %>

  </div>
  </nav>
</header>
