<!-- Header for Wiki-Map -->
<header>
  <nav class="navbar-top">
    <a href="/">Wiki-Map</a>

    <% if(!userId){ %>

      <a href="/login">Login</a>
      <a href="/register">Register</a>


      <% } else{ %>

        <a href="/maps">My Maps</a>
        <a href="/maps/favourites">Favourites</a>
        <a href="/maps/create">Create Maps</a>

        <form action="/logout" method="POST">
          <label for="logout">Logged In As: <%= userName %> </label>
          <button type="submit">LogOut</button>
        </form>

        <% } %>
  </nav>
</header>
