<!DOCTYPE html>
<html lang="en">

<%- include('partials/_header') %>

<body>

  <% if(userId){ %>

    <h1>🥔 ADD MAP 🥔</h1>
    <form class="add-map-form" action="/maps/create" method="POST">
      <br>
      <label for="title">MAP TITLE</label>
      <br>
      <input type="title" name="title" placeholder="Maps' title">
      <br>
      <label for="description">DESCRIPTION</label>
      <br>
      <input type="description" name="description" placeholder="Maps' description">
      <br>
      <button class="standard-button" type="submit">SUBMIT</button>
    </form>

    <% } else{ %>

      <h1>You need to register to Create maps! 🥔</h1>
      <% } %>

</body>

</html>
