<!DOCTYPE html>
<html lang="en">

<%- include('partials/_header') %>

<body>
  <% if(userId){ %>

    <h1>Here are your favourite maps! 🥔</h1>
    <ul>
      <% for(let favourites of data) { %>
        <tr>
          <td><%= favourites.title %></td>
          <td>
            <form id="removeFav-btn" action="/maps/favourites" method="POST">
              <button type="submit">REMOVE</button>
            </form>
        </td>
        </tr>
      <% } %>
    </ul>

    <% } else{ %>

      <h1>You need to register to Favourite maps! 🥔</h1>
      <% } %>

</body>

</html>
