<!DOCTYPE html>
<html lang="en">

<%- include('partials/_header') %>

<body>
    <h3>Login</h3>
    <form action="/login" method="POST">
      <label for="email">Email address</label>
      <input type="email" name="email" placeholder="Enter email">
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="password">
      <button type="submit">Login</button>
    </form>
</body>

</html>
