<!DOCTYPE html>
<html lang="en">

<%- include('partials/_header') %>

<body>
  <div class="content">

    <h1>Login</h1>
    <br>
    <form class="login-form" action="/login" method="POST">
      <label for="email">Email address</label>
      <br>
      <input type="text" name="email" placeholder="Enter email">
      <br>
      <label for="password">Password</label>
      <br>
      <input type="password" name="password" placeholder="password">
      <br>
      <button class="standard-button" type="submit">Login</button>
    </form>
  </div>
</body>

</html>
