<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_header') %>
  <script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAij0-DZe6QnWhUQvU-0U_XtlPZJ-DVVvg&callback=initMap&v=weekly"
  defer
></script>
  <body>

    <h1><%= data.title %>🥔</h1>
    <% console.log("this is data",data.title) %>
    <div id="map"></div>
    <input type="hidden" id="map-id" value="<%= id %>" />

  </body>
</html>
