<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_header') %>
  <script
  src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLE_MAPS_KEY %>&callback=initMap&v=weekly"
  defer
></script>
  <body>

    <h1>🥔 <%= data.title %> 🥔</h1>
    <div id="map"></div>
    <input type="hidden" id="map-id" value="<%= id %>" />



  </body>
</html>
