<!DOCTYPE html>
<html lang="en">

<%- include('partials/_header') %>

<body>
  <h1>Register</h1>
  <br>
  <form class="register-form" action="/register" method="POST">
    <label for="name">Name</label>
    <br>
    <input type="text" name="name" placeholder="Enter your name">
    <br>
    <label for="email">Email address</label>
    <br>
    <input type="text" name="email" placeholder="Enter email">
    <br>
    <label for="password">Password</label>
    <br>
    <input type="password" name="password" placeholder="password">
    <br>
    <button class="standard-button" type="submit">Register</button>
  </form>
</body>

</html>
